<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}Boutique FR
			{% endblock %}
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="{{asset('assets/lib/animate/animate.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body>
		<div class="container-fluid">
			<div class="row bg-secondary py-1 px-xl-5">
				<div class="col-lg-6 d-none d-lg-block"></div>
				<div class="col-lg-6 text-center text-lg-right">
					<div class="d-inline-flex align-items-center">
						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
								{% if app.user %}
									{{ app.user.firstname }}
								{% else %}
									Compte
								{% endif %}
							</button>
							<div class="dropdown-menu dropdown-menu-right">
								{% if app.user %}
									<a class="dropdown-item" href="{{ path('app_logout') }}" type="button">Deconnexion</a>
								{% else %}
									<a class="dropdown-item" href="{{ path('app_login') }}" type="button">Connexion</a>
									<a class="dropdown-item" href="{{ path('app_register') }}" type="button">Inscription</a>
								{% endif %}
							</div>
						</div>

					</div>
				</div>
				<div class="d-inline-flex align-items-center d-block d-lg-none">
					<a href="{{ path('app_cart') }}" class="btn px-0 ml-2">
						<i class="fas fa-shopping-cart text-dark"></i>
						<span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">{{(app.session.get('cart')|length)}}</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
			<div class="col-lg-4">
				<a href="/" class="text-decoration-none">
					<span class="h1 text-uppercase text-primary bg-dark px-2">Boutique</span>
					<span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">FR</span>
				</a>
			</div>
			<div class="col-lg-4 col-6 text-right"></div>
		</div>
	</body>
</html></div><div class="container-fluid bg-dark mb-30">
<div class="row px-xl-5">
	<div class="col-lg-3 d-none d-lg-block">
		<a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="/" style="height: 65px; padding: 0 30px;">
			<h6 class="text-dark m-0">
				<i class="fa fa-bars mr-2"></i>Menu</h6>
		</a>

	</div>
	<div class="col-lg-9">
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
			<a href="/" class="text-decoration-none d-block d-lg-none">
				<span class="h1 text-uppercase text-dark bg-light px-2">Boutique</span>
				<span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">FR</span>
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
				<div class="navbar-nav mr-auto py-0">
					<a href='{{ path('app_product') }}' class="nav-item nav-link">Produits</a>
					<a href='{{ path('app_contact') }}' class="nav-item nav-link">Contact</a>
					{% if app.user %}
						<a href="/compte" class="nav-item nav-link">Mon Compte</a>
						<a href="{{ path('account_order') }}" class="nav-item nav-link">Mes commandes</a>
					{% endif %}
				</div>
				<div class="navbar-nav ml-auto py-0 d-none d-lg-block">
					<a href="{{ path('app_cart') }}" class="btn px-0 ml-3">
						<i class="fas fa-shopping-cart text-primary"></i>
						<span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">{{(app.session.get('cart')|length)}}</span>
					</a>
				</div>
			</div>
		</nav>
	</div>
</div></div>{% if block('carousel') is defined%}
<div class="container-fluid mb-3">
	<div class="row px-xl-5">

		<div class="col-lg-12">
			<div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
				<ol class="carousel-indicators">
					{% for key,header in headers %}
						<li data-target="#header-carousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %}></li>
					{% endfor %}
				</ol>
				<div class="carousel-inner">
					{% for key,header in headers %}
						<div class="carousel-item position-relative {% if key == 0 %} active {% endif %}" style="height: 430px;">
							<img class="position-absolute w-100 h-100" src="/upload/{{ header.illustration }}" style="object-fit: cover;">
							<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 700px;">
									<h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">{{header.title}}</h1>
									<p class="mx-md-5 px-5 animate__animated animate__bounceIn">{{header.content}}</p>
									<a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{{ header.btnUrl }}">{{ header.btnTitle }}</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

</div>{% endif %}{% block body %}{% endblock %}<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
<div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
	<div class="col-md-6 px-xl-0">
		<p class="mb-md-0 text-center text-md-left text-secondary">
			&copy;
			<a class="text-primary" href="#">Tsiory Rakotoarimalala</a>
		</p>
	</div>
</div></div><a href="#" class="btn btn-primary back-to-top">
<i class="fa fa-angle-double-up"></i></a><script src="https://code.jquery.com/jquery-3.4.1.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script><script src="{{asset('assets/lib/easing/easing.min.js')}}"></script><script src="{{asset('assets/lib/owlcarousel/owl.carousel.min.js')}}"></script><script src="{{asset('assets/js/main.js')}}"></script>{% block javascripts %}
{{ encore_entry_script_tags('app') }}{% endblock %}</body></html>
